.save-touch-mask {
  .modal-header {
    padding: 1rem 1.5rem;
    h4 {
      font-size: 1.8rem;
    }
  }
  .modal-body {
    padding: 1rem 1.5rem;
    input {
      margin-bottom: 1.5rem;
    }
  }
  .modal-footer {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    .no-selection {
      cursor: not-allowed;
    }
  }
}
