
.editor{
    height: 90vh;
    width: 80%;
    border: 1px solid green;
}

/* EDITOR CONTROLLER */
.controller {
    height: 15vh;
}


/*EDITOR BODY*/

.body{
    height: 75vh;
    border: 1px solid blue;
    position: relative;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
