.font-dropdown {
  .dropdown {
    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      outline: 0;
      box-shadow: none !important;
      width: 100%;
      font-weight: 400;
      border-radius: 0.3rem;
      border: 0.1rem solid var(--btn-default-border) !important;
      background-color: var(--btn-default-bg);
      padding: 0.6rem 1.2rem;
      color: var(--md-grey-500);

      &:hover {
        background-color: var(--btn-default-bg-hover) !important;
      }

      &:active {
        background-color: var(--btn-default-bg-active) !important;
        color: var(--md-grey-900);
      }

      &:focus {
        box-shadow: inset 0 0 0 0.1rem rgba(68, 138, 255, 0.75) !important;
        border-color: var(--btn-default-border-focus) !important;
        background-color: var(--btn-default-bg-focus) !important;
      }
    }
    .font-selected {
      color: var(--md-grey-900);
    }
    .dropdown-menu {
      min-width: 23rem;
      max-width: 36rem;
      max-height: 30rem;
      overflow-x: hidden;
      box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2),
        0 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.14),
        0 0.2rem 0.1rem -0.1rem rgba(0, 0, 0, 0.12);
      border: none;
      .font-menu {
        &:not(:first-child) {
          border-top: 0.1rem solid var(--divider-color);
          margin-top: 0.9rem;
          padding-top: 0.9rem;
        }
        .group-type {
          font-size: 1rem;
          padding: 0.3rem 1.2rem;
          white-space: nowrap;
          color: var(--md-grey-600);
          line-height: 1.42857143;
          display: block;
        }
        .dropdown-item {
          &:active {
            background-color: inherit;
            color: inherit;
          }
          .media {
            display: flex;
            align-items: center;
            flex-direction: column;
            .media-heading {
              display: block;
              overflow: hidden;
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: 500;
              .font-asset-name {
                font-size: 75%;
                font-weight: normal;
                line-height: 1;
                color: var(--md-grey-600);
                display: block;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top: 1rem;
              }
            }
          }
        }
        .selected-font {
          background-color: var(--md-indigo-500);
          color: var(--white);
        }
      }
    }
  }
}
.dropdown-menu::-webkit-scrollbar {
  width: 1.5rem;
  background-color: var(--white);
}

.dropdown-menu::-webkit-scrollbar-thumb {
  border: 0.3rem solid var(--white);
  border-radius: 5em;
  background-color: rgba(0, 0, 0, 0.26);
}

.dropdown-menu:focus::-webkit-scrollbar-thumb,
.dropdown-menu:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.26);
}
