
.ics-prompt-builder-text-controls {
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;
  padding: .5rem 1rem 1rem .5rem;

  .alignment-control{
    gap: .3rem;
    .align{
      width: 4rem;
    }
    .align-btn-active{
      color: var(--white);
      border-color: var(--btn-primary-border-hover);
      background-color: var(--btn-primary-bg-hover);
    }
  }
}