.left-container {
  width: 33rem;
  transition: all 0.25s ease-in-out;
  &.G6-200 {
    width: 50rem;
  }
  &.G7-100 {
    width: 50rem;
  }
  &.G6-300 {
    width: 50rem;
  }

  .ics-prompt-tree-container {
    height: fit-content;
    border-right: .1rem solid var(--md-grey-300);
    background-color: var(--white);
    width: 100%;

    .ics-prompt-set-heading {
      width: 100%;
      border-bottom: .1rem solid var(--md-grey-300);

      .prompt-heading-input {
        width: 100%;
        font-size: 1.7rem;
        font-weight: bold;
        padding: .5rem 4.2rem .5rem 1rem;
        margin-right: -.1rem;
        height: auto;
        background-color: var(--white);
        border: none;
        transition: background 0.25s ease-in-out;
        border-radius: 0;

        &:focus {
          outline: none;
        }
      }
      .disabled-input {
        cursor: not-allowed;
      }
    }

    .ics-prompt-builder-state {
      height: 60rem;
      overflow-y: scroll;

      .accordion {
        .accordion-item {
          border: none;

          .accordion-header {
            .accordion-button {
              background-color: var(--white);
              padding: .8rem 1rem .8rem .5rem;

              &:focus {
                box-shadow: none !important;
                border: none;
              }

              .prompt-set-status {
                width: 100%;
                display: flex;
                align-self: flex-start;
                justify-content: space-between;
                align-items: center;

                .left-status {
                  display: flex;
                  align-items: center;

                  .status-icon {
                    i {
                      color: var(--icon-color-sheild);
                      font-size: 1.8rem;
                    }

                    width: 2rem;
                  }

                  .middle-text-status {
                    color: var(--md-grey-700);
                    font-weight: bold;
                    font-size: 1.4rem;
                    padding-top: .2rem;
                    padding-left: 1.3rem;
                    max-width: 18rem;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                  }

                  .state-label {
                    padding: .3rem .5rem .3rem .5rem;
                    letter-spacing: .1rem;
                    color: var(--md-grey-900);
                    background-color: var(--md-grey-300);
                    font-size: 75%;
                    line-height: 1;
                    border-radius: 0.25em;
                    height: fit-content;
                    margin-left: .5rem;
                    font-weight: bold;
                  }
                }

                .unsaved-status {
                  i {
                    color: var(--md-grey-700);
                    font-size: 1.8rem;
                    margin-right: 3.5rem;
                  }
                }
              }

              &:hover {
                background-color: var(--md-grey-100);
              }
            }

            .accordion-button::after {
              display: none;
            }

            .accordion-button:not(.collapsed) {
              box-shadow: none;
            }
          }

          .accordion-collapse {
            .accordion-body {
              padding: 0 0 0 3rem;

              .inner-accordion {
                //INNER STATES
                .prompt-set-child-status {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  .child-status-left-container {
                    display: flex;
                    align-self: flex-start;
                    align-items: center;
                    justify-content: space-between;

                    .child-status-icon {
                      i {
                        color: var(--md-grey-500);
                        font-size: 1.8rem;
                      }
                    }

                    .child-status-middle-text {
                      font-weight: bold;
                      color: var(--md-grey-600);
                      font-size: 1.3rem;
                      padding-left: 1.3rem;
                    }
                  }

                  .child-states-right-icons {
                    display: flex;
                    gap: .5rem;
                    color: var(--md-grey-500);
                    margin-right: .7rem;
                    align-items: center;
                    .child-state-trash-icon {
                      font-size: 1.6rem;
                      &:hover {
                        color: var(--md-grey-700);
                      }
                    }

                    .icons-right-child-states {
                      font-size: 2.1rem;
                      font-weight: 700;

                      &:hover {
                        color: var(--md-grey-700);
                      }
                    }

                    .assets-dropdown {
                      position: absolute;
                      top: 3.4rem;
                      right: .8rem;
                      z-index: 3;
                      text-align: left;
                      border: .1rem solid var(--md-grey-300);
                      border-radius: .3rem;
                      background-color: var(--white);
                      box-shadow:
                        0 .1rem .3rem 0 rgba(0, 0, 0, 0.2),
                        0 .1rem .8rem 0 rgba(0, 0, 0, 0.14),
                        0 .2rem .1rem -.1rem rgba(0, 0, 0, 0.12);
                      color: var(--md-grey-500);

                      .asset-item {
                        line-height: 1.42857143;
                        padding: .4rem .5rem;
                        border-bottom: .1rem solid var(--md-grey-300);
                        display: flex;
                        width: 20rem;
                        color: var(--md-grey-600);

                        &:last-child {
                          border-bottom: none;
                        }

                        &:hover {
                          background-color: var(--md-grey-100);
                        }

                        .dropdown-icon {
                          width: 3rem;
                          color: var(--md-grey-500);
                          font-size: 1.7rem;
                          i {
                            font-size: 1.8rem;
                          }
                        }
                        .dropdown-text {
                          font-size: 1.5rem;
                        }
                      }
                    }
                  }
                }

                .elements-list {
                  .active-inner-element {
                    background-color: var(--md-grey-200);
                    .element .element-left-container {
                      i {
                        color: var(--md-grey-700) !important;
                      }
                    }
                    .element {
                      .trash-icon {
                        font-weight: normal;
                        color: var(--icon-color-trash) !important;
                      }
                    }
                  }
                  .inner-elements {
                    //ELEMENTS
                    padding: .8rem 1rem .8rem 2rem;

                    &:hover {
                      cursor: pointer;
                      background-color: var(--md-grey-100);

                      .element .element-left-container .grab-icon {
                        opacity: 1;
                      }
                    }

                    .element {
                      font-weight: bold;
                      font-size: 1.3rem;
                      color: var(--md-grey-600);
                      display: flex;
                      align-items: center;
                      justify-content: space-between;

                      .element-left-container {
                        .grab-icon {
                          font-size: 2rem;
                          color: var(--md-grey-400);
                          margin-left: -2rem;
                          margin-top: -.2rem;
                          opacity: 0;
                          transition: opacity 0.25s ease-in-out;
                        }

                        i {
                          font-size: 1.8rem;
                          width: 2.8rem;
                          color: var(--icon-color-elements);
                        }
                      }

                      .touchmask-save-icon {
                        font-size: 1.8rem;
                        margin-right: 1rem;
                      }

                      .trash-icon {
                        font-size: 1.6rem;
                        margin-right: 3.7rem;
                        color: var(--md-grey-500);

                        &:hover {
                          color: var(--md-grey-700);
                        }
                      }
                      .margin-right-0 {
                        margin-right: 1.2rem;
                      }
                    }
                  }

                  .element-type-area {
                    margin-left: 2.6rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .prompt-tree-footer {
      background-color: var(--md-grey-300);
      padding: 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      .btn-primary {
        flex: 1;
      }

      .new-prompt-btn {
        border-radius: .3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        background-color: var(--btn-default-bg);
        border: none;
        gap: 0.3rem;
        svg {
          stroke: var(--md-grey-900);
          stroke-width: 2;
        }
        &:hover {
          background-color: var(--btn-default-bg) !important;
        }
      }
    }
  }
}
