
.toolbar{
    width: 25%;
    height: 80vh;
    border: 1px solid red;
}

.toolbar-heading{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

.toolbar-list{
    padding: 5px 0 15px 15px;
    color: gray;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item-toolbar{
    cursor: pointer;
    padding: 3px 10px;
    &:hover{
        color: black;
        background-color: lightblue;
    }
}

.activeList{
    color: black;
    background-color: lightblue;
    font-weight: 700;
}