.ics-video-builder-video-controls {
  .video-preview {
    width: 6.5rem;
    height: 3.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 0.3rem;
    outline: none;
    position: relative;
    filter: contrast(120%);
    border: 0.1rem solid var(--md-grey-400);

    &.disabled {
      cursor: not-allowed;
    }
  }
}
