.ics-video-builder-video-controls {
  .video-preview {
    width: 65px;
    height: 33px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    outline: none;
    position: relative;
    filter: contrast(100%);
    &:hover {
      filter: contrast(120%);
      border: 1px solid var(--md-grey-400);
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}