.ics-prompt-builder-metadata {
  background-color: white;
  height: fit-content;

  .ics-prompt-builder-meta-container {
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
    font-family: "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
      Arial, sans-serif, system-ui;
    p {
      margin: 0;
    }
    .meta-container-title {
      font-weight: bold;
      margin-bottom: 3px;
    }
    .meta-container-small-text {
      color: #757575;
    }
    .meta-buttons-container {
      gap: 6px;
      .isActive{
        background-color: #293475;
        &:hover {
          background-color: #293475 !important;
        }
      }
    }
    .meta-button {
      padding: 2px 10px;
      font-weight: bold;
      i {
        margin-left: 3px;
        font-size: 85%;
      }
    }
    .ics-bg-picker {
      top: 58%;
      right: 3%;
    }
  }
}
