.ics-prompt-builder-metadata {
  background-color: var(--white);
  height: fit-content;

  .ics-prompt-builder-meta-container {
    padding: 1rem;
    border-bottom: 0.1rem solid var(--border-default);
    font-family: "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
      Arial, sans-serif, system-ui;
    p {
      margin: 0;
    }
    .meta-container-title {
      font-weight: bold;
      margin-bottom: 0.3rem;
    }
    .meta-container-small-text {
      color: var(--md-grey-600);
    }
    .meta-buttons-container {
      gap: 0.6rem;
      .isActive {
        background-color: var(--btn-primary-border-hover);
        &:hover {
          background-color: var(--btn-primary-border-hover) !important;
        }
      }
    }
    .meta-button {
      padding: 0.2rem 1rem;
      margin: 0.5rem 1rem 1rem 0;
      font-weight: bold;
      display: flex;
      align-items: center;
      i {
        margin-left: 0.3rem;
        font-size: 85%;
      }
    }
    .ics-bg-picker {
      top: 68%;
      right: 3%;
    }
    .size-label {
      font-size: 1.2rem;
      font-weight: bold;
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap;
      color: var(--white);
      border-radius: 0.25em;
    }
    .label-blue {
      background-color: var(--md-blue-500);
    }
    .label-danger {
      background-color: var(--md-red-500);
    }
    .warning-text {
      margin-top: 1rem;
      font-size: 85%;
      color: var(--md-grey-500);
      max-width: 25rem;
    }
  }
}
