.ics-prompt-builder-area-controls{
  padding: 5px 10px;

  .area-controls{
    gap: 10px;
    .shape{
      height: 34px;
      cursor: pointer;
      transition: all .25s ease-in-out;
      outline: none;
      background-color: #9e9e9e;
      touch-action: manipulation;
      &:hover{
        background-color: #757575;
      }
    }
    .rectangle{
      width: 40px;
    }
    .circle{
      border-radius: 100%;
      width: 34px;
    }
    .selected {
      border: 3px solid #757575;
    }
  }

}