.ics-prompt-builder-area-controls {
  padding: .5rem 1rem;

  .area-controls {
    gap: 1rem;
    .shape {
      height: 3.4rem;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      outline: none;
      background-color: var(--md-grey-500);
      touch-action: manipulation;
      &:hover {
        background-color: var(--md-grey-600);
      }
    }
    .rectangle {
      width: 4rem;
    }
    .circle {
      border-radius: 50%;
      width: 3.4rem;
    }
    .selected {
      border: .3rem solid var(--md-grey-600);
    }
  }

}
