.ics-prompt-builder-controls {
  width: 100%;
  min-height: 75px;
  height: fit-content;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;

  .state-controller {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    .code {
      color: #616161;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }
    .description {
      margin-bottom: 3px;
      line-height: 16px;
      color: #616161;
      font-size: 15px;
    }
    .horizontal-border {
      margin: 10px -10px;
      border-bottom: 1px solid var(--border-default);
    }
    .transaction-state-dropdown {
      width: 188px;
      margin: 5px 0;
      padding-right: 5px;
      float: left;
    }
  }
  .child-state-controller {
    color: #616161;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    .title {
      margin-top: 5px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      .clock-icon {
        font-size: 20px;
        margin-right: 5px;
      }
      .code {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }
    }
    .exception-time {
      margin: 5px 0 10px 10px;
    }
  }
}

//Common

//DIMENSIONS
.dimensions {
  padding: 0 10px;
  .co-ordinates {
    gap: 5px;
    .dimension-control {
      gap: 5px;
      justify-content: center;
      .dimension-input {
        width: 75px;
        margin: 0;
      }
    }
  }
}

//CENTER SHIFT
.center-shift {
  gap: 2px;
  .shift-btn {
    padding: 6px 12px;
    cursor: pointer;
    .icon {
      font-size: 24px;
    }
    .shift-icon-transform-horizontal {
      transform: rotate(90deg);
    }
  }
}

//DISABLED CONTROL
.disabled-control {
  color: rgba(0, 0, 0, 0.137);
  border: none;
  cursor: text;
  pointer-events: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  input {
    border: none;
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.137);
  }
}
