.ics-prompt-builder-controls {
  width: 100%;
  min-height: 7.5rem;
  height: fit-content;
  border-bottom: .1rem solid var(--md-grey-300);
  background-color: var(--white);

  .state-controller {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    .code {
      color: var(--md-grey-700);
      font-size: 1.8rem;
      font-weight: bold;
      margin: 0;
    }
    .description {
      margin-bottom: .3rem;
      line-height: 1.6rem;
      color: var(--md-grey-700);
      font-size: 1.5rem;
    }
    .horizontal-border {
      margin: 1rem -1rem;
      border-bottom: .1rem solid var(--border-default);
    }
    .transaction-state-dropdown {
      width: 18.8rem;
      margin: .5rem 0;
      padding-right: .5rem;
      float: left;
    }
  }
  .child-state-controller {
    color: var(--md-grey-700);
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    .title {
      margin-top: .5rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      .clock-icon {
        font-size: 2rem;
        margin-right: .5rem;
      }
      .code {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
      }
    }
    .exception-time {
      margin: .5rem 0 1rem 1rem;
    }
  }
}

//Common

//DIMENSIONS
.dimensions {
  padding: 0 1rem;
  .co-ordinates {
    gap: .5rem;
    .dimension-control {
      gap: .5rem;
      justify-content: center;
      .dimension-input {
        width: 7.5rem;
        margin: 0;
      }
    }
  }
}

//CENTER SHIFT
.center-shift {
  gap: .2rem;
  .shift-btn {
    padding: .6rem 1.2rem;
    cursor: pointer;
    .icon {
      font-size: 2.4rem;
    }
    .shift-icon-transform-horizontal {
      transform: rotate(90deg);
    }
  }
}

//DISABLED CONTROL
.disabled-control {
  color: rgba(0, 0, 0, 0.137);
  border: none;
  cursor: text;
  pointer-events: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  input {
    border: none;
    background-color: var(--md-grey-50);
    color: rgba(0, 0, 0, 0.137);
  }
}

.controller-title{
  color: var(--md-grey-700);
  margin: .5rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}
