.new-prompt-set-modal {
  .modal-header {
    padding: 1rem 1.5rem;
    h4 {
      font-size: 1.8rem;
    }
  }
  .modal-body {
    .form-group {
      margin-bottom: 1.5rem;
    }
  }
  .modal-footer {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    .btn-link {
      border: none;
      color: var(--md-indigo-500);
      text-decoration: none;

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        background-color: transparent;
        color: var(--btn-primary-bg);
        border: none;
        box-shadow: none;
      }
    }
  }
}
