

.react-select {
  height: 3.4rem;
}
input {
  height: 3.4rem;
  width: 100%;
  &:focus-visible {
    outline: none;
  }
}
.dropdown-btn {
  height: 3.4rem;
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
