.daypart {
  .modal-header {
    padding: 1rem 1.5rem;
    border-bottom: 0.1rem solid var(--border-default);
    .modal-title {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
  .modal-body {
    padding: 1rem 1.5rem;
    .time {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      i {
        padding-top: 0.2rem;
      }
    }
  }
  .modal-footer {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    .no-selection {
      cursor: not-allowed;
    }
  }
}
