.layout {
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
  position: relative;
  width: 90%;
}

.G7-100-8,
.G7-100-15,
.G7-100,
.G6-200,
.G7-100,
.G6-300 {
  .prompt-set-preview-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;

    .ics-prompt-builder-preview-wrapper {
      width: calc(100% - 29.5rem);

      &.expanded {
        position: absolute;
        width: calc(100% - 16.5%);
      }
    }
  }
}
