
.layout {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  position: relative;
  width: 90%;
}

.G7-100-8, .G7-100-15, .G7-100, .G6-200, .G7-100, .G6-300 {
  .prompt-set-preview-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    -webkit-height: calc(100vh - 50px);

    .ics-prompt-builder-preview-wrapper {
      width: calc(100% - 290px);
      -webkit-width: calc(100% - 290px);

      &.expended {
        position: absolute;
        -webkit-width: calc(100% - 75px);
        width: calc(100% - 75px);
      }
    }

    .ics-prompt-builder-metadata {

    }
  }
}






