


.ics-prompt-builder-preview-wrapper{
  display: flex;
  &.prompt-builder-size{
    transition: all .15s linear;
    overflow-x: hidden;
  }

  .soft-keys{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    gap: 85px;
    padding: 15% 0 0 0;
    align-items: flex-start;
    position: relative;

    &.soft-keys-left{
        color: blue;
        left: 17px;
    }
    &.soft-keys-right{
        color: yellow;
      right: 40px
    }
    .softkey-btn{
      width: 0;
      .soft-key-text{
        position: relative;
        top: 15px;
        left: -5px;
        font-size: 11px;
        color: #9e9e9e;
      }
    }
  }

  .ics-prompt-builder-preview-container{
    background-color: #424242;
    width: 100%;
    height: fit-content;
    &.G6-200 {
      padding: 30px 32px 5px;
    }
    &.G7-100 {
      padding: 48px 57px 38px;
    }
    &.G7-100-15, &.G6-300, &.G7-100-8 {
      padding: 30px 32px 20px;
    }

    .ics-prompt-builder{
      height: fit-content;
    }
    .disable-preview{
      pointer-events: none;
    }
    .soft-keys-bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      padding: 30px 15%;
      position: relative;
      background-color: #424242;
      top: 5px;
      .soft-key-text{
        position: relative;
        top: 19px;
        color: #9e9e9e;
      }
    }
  }

}

.soft-key-button{
  border: none;
  border-radius: 3px;
  transition: all .15s ease-in-out;
  color: #fff;
  font-size: 26px;
  background-color: #212121;
  display: flex;
  align-items: center;
  transform: scale(2);
  padding: 2px 6px;
  box-shadow: 0 3px 0 0 #000;
  position: relative;
  top: 0;
  &:hover{
    box-shadow: none;
    top: 3px;
  }
  .fa-window-minimize{
    margin-left: 8px;
    transform: scale(.8) rotate(90deg);
  }
}