@import "./assets/color.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  font-size: 1.4rem;
}

html,
body {
  font-size: 10px !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9eaed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.btn {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.6rem 1.2rem;
  transition: all ease-in 0.1s;
  line-height: 1.42857143;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
  }
}

.btn-primary {
  color: var(--white);
  border-color: var(--btn-primary-border);
  background-color: var(--md-indigo-500);

  &:focus {
    outline: none;
    border-color: var(--btn-primary-border-focus);
    background-color: var(--btn-primary-bg-hover);
  }

  &:hover,
  &:active {
    outline: none;
    border-color: var(--btn-primary-border-hover) !important;
    background-color: var(--btn-primary-bg-hover) !important;
  }

  &:disabled {
    border-color: var(--btn-primary-bg-hover);
    background-color: var(--md-indigo-500);
  }
}

.btn-default {
  color: var(--md-grey-900);
  border-color: var(--btn-default-border);
  background-color: var(--btn-default-bg);

  &:hover {
    outline: none;
    border-color: var(--btn-default-border) !important;
    background-color: var(--btn-default-bg-hover) !important;
  }

  &:active {
    outline: none;
    border-color: var(--btn-default-border-active) !important;
    background-color: var(--btn-default-bg-active) !important;
  }

  &:focus {
    outline: none;
    border-color: var(--btn-default-border-focus);
    background-color: var(--btn-default-bg-focus);
  }
}

.button-white {
  transition: all ease-in 0.1s;
  padding: .6rem 1.2rem;
  border: .1rem solid #c9c9c9;
  border-radius: .3rem;
  background-color: #f6f6f6;
}

.btn-wide-xl {
  padding-right: 3em;
  padding-left: 3em;
}

.ics-input {
  width: 100%;
  height: 3.4rem;
  padding: 0.6rem 1.2rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 0.3rem;
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid var(--border-default);
  font-size: 1.4rem;

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 624.938rem white !important;
    border-radius: .3rem !important;
    height: 3.4rem;
  }

  &::placeholder {
    opacity: 1;
    color: #9e9e9e;
  }

  &:focus {
    box-shadow: inset 0 0 0 0.1rem rgba(68, 138, 255, 0.75);
    border-color: rgba(68, 138, 255, 0.75);
    outline: 0;
  }
}

$md-grey-300: #e0e0e0;

.btn-gray {
  background-color: var(--md-grey-300);
  border-color: var(--md-grey-300);
  color: var(--md-grey-900);

  &:hover,
  &:focus,
  &:active {
    color: var(--gray-base);
  }

  &:focus {
    background-color: darken($md-grey-300, 10%);
    border-color: darken($md-grey-300, 10%);
  }

  &:hover {
    background-color: darken($md-grey-300, 12%);
    border-color: darken($md-grey-300, 12%);
  }
}

.text-primary {
  color: var(--md-indigo-500) !important;
}

.color-picker-button {
  height: 3.2rem;
  width: 6.2rem;
  border: .1rem solid #e0e0e0;
  border-radius: .3rem;
}

.d-flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.mb5 {
  margin-bottom: 0.5rem;
}

.ics-inline-75-block {
  width: 7.5rem;
  min-height: .1rem;
  padding: 0 1rem;
}

.ics-inline-85-block {
  width: 8.5rem;
  min-height: .1rem;
  padding: 0 1rem;
}

.ics-inline-90-block {
  width: 9rem;
  min-height: .1rem;
  padding: 0 1rem;
}

.ics-inline-115-block {
  width: 11.5rem;
  min-height: .1rem;
  padding: 0 1rem;
}

.ics-inline-150-block {
  width: 15rem;
  min-height: .1rem;
  padding: 0 1rem;
}

.ics-inline-200-block {
  width: 20rem;
  min-height: .1rem;
  padding: 0 1rem;
}

.ics-inline-250-block {
  width: 25rem;
  min-height: .1rem;
  padding: 0 1rem;
  float: left;
}

.font-family-base {
  font-family: "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
  Arial, sans-serif, system-ui;
}

.margin-0 {
  margin: 0;
}

.modal-sm {
  --bs-modal-width: 40rem;
}

.modal-lg {
  --bs-modal-width: 60rem;
}

.modal-xl {
  --bs-modal-width: 90rem;
}

.modal-content {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

.btn-link {
  border: none;
  color: var(--md-indigo-500);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    background-color: transparent;
    color: var(--btn-primary-bg);
    border: none;
    box-shadow: none;
  }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.text-grey {
  color: var(--md-grey-600);
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem 1.5rem;
}

.modal-header {
  h4 {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.ics-tooltip {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.show {
    opacity: 1;
  }

  .tooltip-arrow {
    --bs-tooltip-bg: #212121;
  }

  .tooltip-inner {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.3rem 0.8rem;
    background-color: #212121;
  }
}
