.searchable-dropdown {
  margin-bottom: 1rem;
  .react-select {
    height: 3.4rem;
    input {
      height: 3.4rem;
      width: 100%;
      &:focus-visible {
        outline: none;
      }
    }
    .dropdown-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3.4rem;
      width: 100%;
      border: 0.1rem solid var(--btn-default-border);
      border-radius: 0.3rem;
      background-color: var(--btn-default-bg);
      padding: 0.6rem 1.2rem;
      color: var(--md-grey-500);

      &:hover {
        background-color: var(--btn-default-bg-hover);
      }

      &:active {
        background-color: var(--btn-default-bg-active);
      }

      &:focus {
        box-shadow: inset 0 0 0 0.1rem rgba(68, 138, 255, 0.75);
        border-color: var(--btn-default-border-focus);
        background-color: var(--btn-default-bg-focus);
      }

      .selected-item {
        color: var(--md-grey-900);
      }

      .caret {
        color: var(--md-grey-900);
        border-top: 0.4rem dashed;
        border-right: 0.4rem solid transparent;
        border-left: 0.4rem solid transparent;
      }
    }

    .list-items {
      width: 93%;
      max-height: 30rem;
      box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2),
        0 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.14),
        0 0.2rem 0.1rem -0.1rem rgba(0, 0, 0, 0.12);
      overflow-y: scroll;
      text-decoration: none;
      background-color: var(--white);
      position: absolute;
      z-index: 1000;
      min-width: 16rem;
      margin: 0.2rem 0 0;
      padding: 0.5rem 0;
      list-style: none;
      text-align: left;
      border: 0.1rem solid transparent;
      border-radius: 0.3rem;
      background-color: var(--white);
      background-clip: padding-box;

      li {
        font-weight: normal;
        display: block;
        padding: 0.5rem 2rem;
        white-space: nowrap;
        color: var(--md-grey-900);
        text-wrap: wrap;
        cursor: pointer;
        &:not(.active):hover {
          background-color: var(--bg-default);
        }
      }
      .group-container {
        &:not(:first-child) {
          border-top: 0.1rem solid var(--divider-color);
          margin-top: 0.9rem;
          padding-top: 0.9rem;
        }
        .group-label {
          font-size: 1.2rem;
          line-height: 1.42857143;
          display: block;
          padding: 0.3rem 2rem;
          white-space: nowrap;
          color: var(--md-grey-600);
        }
      }

      .active {
        background-color: var(--md-indigo-500);
        color: var(--white);
      }
    }
    .group-items {
      width: 10%;
    }
  }
}
.list-items::-webkit-scrollbar {
  width: 1.5rem;
  background-color: var(--white);
}

.list-items::-webkit-scrollbar-thumb {
  border: 3px solid #fff;
  border-radius: 5em;
  background-color: rgba(0, 0, 0, 0.26);
}

.list-items:focus::-webkit-scrollbar-thumb,
.list-items:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.26);
}
